/* Variables */
@font-face {
  font-family: "SignPainter";
  src: url("yourfont.ttf") format("truetype");
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Components */
.btn {
  color: white;
  background: #016FB9;
  padding: 0.75rem;
  border-radius: 19.5px;
  border: none;
  opacity: 0.96;
  -webkit-box-shadow: 0px 5px 6px rgba(1, 111, 185, 0.14);
          box-shadow: 0px 5px 6px rgba(1, 111, 185, 0.14);
}

.btn-danger {
  color: red;
  border: 2px solid red;
  background: none;
}

#checkout {
  width: 12rem;
  font-size: 1.2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  max-width: 100vw;
  height: 10vh;
  padding: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

@media (min-width: 400px) {
  .header {
    height: 20vh;
  }
}

@media (min-width: 600px) {
  .header {
    height: 10vh;
  }
}

.header .header__menu-placeholder {
  width: 15%;
}

.header .header__menu-placeholder .header__back-icon {
  width: 1rem;
}

.header .header__title {
  font-size: 1.95rem;
  font-weight: 500;
  font-family: 'SignPainter', sans-serif;
  margin: 1rem;
}

.header .header__title img {
  width: 220px;
  margin-top: 10px;
}

@media (min-width: 400px) {
  .header .header__title img {
    width: 300px;
  }
}

.header .header__cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15%;
}

.header .header__cart-info .header__cart-counter {
  background: #016FB9;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: .75rem;
  text-align: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.header .header__cart-info .header__cart-icon {
  width: 2.15rem;
}

.content-section {
  padding: 3vw;
  background-color: rgba(1, 111, 185, 0.1);
  /* product cards */
}

.content-section .content-section__cart {
  background: white;
  margin: 0;
  border-radius: 30px;
  padding: 3vw;
}

.content-section .content-section__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

@media (min-width: 20rem) {
  .content-section .content-section__results {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.content-section .content-section__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media (min-width: 400px) {
  .content-section .content-section__toolbar {
    margin: 0 6rem 3rem 6rem;
  }
}

.content-section .content-section__toolbar .content-section__result-info {
  font-weight: 500;
  font-size: 0.9rem;
}

.content-section .content-section__toolbar .sort-select__wrapper {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  padding: 0 1rem;
  -webkit-box-shadow: 0, 5, 6, rgba(1, 111, 185, 0.1);
          box-shadow: 0, 5, 6, rgba(1, 111, 185, 0.1);
}

.content-section .content-section__toolbar .sort-select__wrapper .sort-select__element {
  min-width: 4.5rem;
  height: 2.6rem;
  font-size: 0.95rem;
  border: 0px;
  background: none;
  outline: none;
}

.content-section .product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0.5rem 1rem 0;
  margin: 1rem 0;
  border-radius: 30px;
  background: white;
  overflow: hidden;
  max-width: 600px;
  width: 90vw;
}

.content-section .product__card .product__thumbnail-wrapper {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.content-section .product__card .product__thumbnail-wrapper .product__thumbnail-img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  padding: 0.5rem;
}

.content-section .product__card .product__info-wrapper {
  padding: 0 1.2rem;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.content-section .product__card .product__info-wrapper .product__name {
  margin: 0 0 0.5rem 0;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.content-section .product__card .product__info-wrapper .product__name .product__name-link {
  text-decoration: none;
  color: #182825;
}

.content-section .product__card .product__info-wrapper .product__brand {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0.2rem;
  color: #526772;
}

.content-section .product__card .product__info-wrapper .product__price {
  font-weight: 500;
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #016FB9;
}

.content-section .product__card .product__info-wrapper .product__add-button {
  width: 100%;
}

.content-section .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  border-bottom: 1.5px solid #6D8EA0;
  padding-bottom: 20px;
}

.content-section .cart__item:last-of-type {
  border-bottom: none;
}

.content-section .cart__item .cart__item-image {
  max-width: 250px;
}

.content-section .cart__item .cart__item-info {
  margin-left: 8vw;
}

.content-section .cart-checkout {
  text-align: center;
  margin-bottom: 50px;
}

.content-section .cart-checkout .cart-checkout__subtitle {
  font-size: 1.2rem;
}

.content-section .cart-checkout .cart-checkout__costs {
  font-size: 0.9rem;
  color: #526772;
  margin-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */